<% provide(:title,"パスワードの変更") %>
<h1>パスワードの変更</h1>

<div class = "row"> 
  <div class = "col-md-6- col-md-offset-2">
    <%= form_for(@user) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
        
        <%= f.label :password, "新しいパスワード" %> 
        <%= f.password_field :password, autocomplete: "form-control" %>
        <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      
        <%= f.label :password_confirmation, "新しいパスワード(確認)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "form-control" %>
  
        <%= f.label :current_password, "現在のパスワード" %> <i>(更新を完了するためには、現在のパスワードを入力してください)</i>
        <%= f.password_field :current_password, class: "form-control" %>

        <%= f.submit "更新する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>